body{
    font-family: 'Kanit';
}

@media only screen and (max-width: 300px)  {
    .image_logo {
        margin-top: 10vw;
    }
    .title {
        margin-top: 5vw;
    }
}

.container{
    padding: auto;
    padding-top: 9%;
    font-family: Kanit;
}


    .register{
        height: 115px;
        width: 900px;
        background-color: #fdeec1;
        margin-top: 90px;
        border-radius: 30px;
  

    }

        .title{
            font-size: 2.8vw;
            font-weight: bold;
            color: #d96704;
            padding-left: 5%;
            padding-top: 25px;
            padding-bottom: 25px;
            background-color: #fdeec1;
            border-radius: 30px;
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 60px;
        }

        /* .title1{
            font-size: 3vw;
            font-weight: bold;
            color: #d96704;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 25px;
            padding-bottom: 25px;
            background-color: #fdeec1;
            border-radius: 30px;
            margin-top: 60px;
            margin-right: 10%;
            margin-left: 10%;
            

        } */
    .image_logo{
            /* margin-left: auto; */
            margin-right: auto;
            padding: auto;
            padding-left: 30%;
            padding-right: 30%;
    }

    

